.bg {
  position: absolute;
  top: 10vw;
  right: 50vh;
  width: 200px;
  height: 200px;
  will-change: opacity;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
