.box {
  align-self: flex-start;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  margin: 0 auto 0 auto;
  transform-origin: bottom;
}
.bounce-2 {
  animation-name: bounce-2;
  animation-timing-function: ease;
}
@keyframes bounce-2 {
  0% {
    transform: translateX(300px);
  }
  50% {
    transform: translateX(-300px);
  }
  100% {
    transform: translateX(300px);
  }
}
